@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
   font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 80vh;
    display: flex;
    /* justify-content: space-between; */
    /* border: 2px solid royalblue; */
    position: relative;
    /* background-color: gray; */
    background-color: rgb(205, 238, 238);
}
.part1{
    width: 65%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;   */
    padding-left: 30px;
    /* padding: 30px; */
    /* border: 1px solid red; */
     /* background-color: rgb(205, 238, 238); */
}
.navbar{
    width: 80%; 
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 30px; */
}
.navbar ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar ul h2{
   font-size: 30px;
   padding: 0px 20px;
}
.navbar ul li{
    padding-left: 50px;
}
.pay{
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    width: 450px;
    height: 250px;
    /* border: 1px solid rebeccapurple; */
    margin-left: 225px;
    /* padding-top: 10px; */
    /* font-size: 17px; */
    /* margin-top: 20px; */
}
.get{
    width: 770px;
    height: 250px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 15px; */
    margin-left: 40px;
    margin-top: 40px;
    position: relative;
}
.get h1{
    font-size: 70px;
    letter-spacing: 2px;
}
.get a{
    color: black;
}
.part2{
    width: 25%;
    height: 80vh;
    background-color: rgb(224, 204, 19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}
.part2 img{
    width: 260px;
    height: 230px;
    padding-top: 30px;
}
/* .image{
    position: absolute;
} */
.image img{
    position: absolute;
    width: 120px;
    height: 120px;
    /* border: 50px solid white; */
    top: 65px;
    right: 418px;
    /* left: 830px; */
    /* color: rgb(156, 18, 18); */
    /* background-color: white; */
}
.btn button{
   width: 120px;
   height: 40px;
   background-color: black;
   color: white;
   border: none;
   position: absolute;
   top: 40px;
   right: 80px;
   font-size: 15px;
   /* left: 50px; */
   
}
.and-image img{
    position: absolute;
    top: 235px;
    right: 425px;
    width: 85px;
    height: 85px;
}
.container1{
    width: 100%;
    height: 50vh;
    background-color: rgb(205, 238, 238);
    display: flex;
    justify-content: space-between;
}
.agent{
    width: 55%;
    height: 45vh;
    display: flex; 
    justify-content: space-between;
    padding: 0px 50px;
    /* border: 1px solid rgb(146, 235, 235); */
    margin-top: 30px;
}
.agent span :first-child{
    font-size: 65px;
}
.agent .para{
    font-size: 32px;
    font-weight: 400;
}
.color{
    width: 30%;
    height: 50vh;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}
.boxes{
    width: 330px;
    height: 230px;
    /* border: 1px solid gray; */
    display: flex;
    align-items: end;
    margin-right: 35px;
    
}
.box1{
    width: 90px;
    height: 130px;
    /* background-color: rgb(247, 174, 101); */
    background-color: rgb(255, 128, 128);
     display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 10px;
}
.box2{
    width: 110px;
    height: 220px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 10px;
}
.box3{
    width: 130px;
    height: 165px;
    background-color: rgb(81, 81, 190);
     display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 10px;
}

.boxes p{
    color: white;
    /* display: flex;
    justify-content: center; */
}
.heading{
    width: 380px;
    height: 30px;
    /* border: 1px solid red; */
    margin-right: 40px;
    margin-top: 10px;
}
.heading span{
    display: flex;
    justify-content: space-evenly;
    /* padding-right: 70px; */
}


